<html>
    <body>
        
            <center>
            <h1>Heart Disease Detection Module</h1><br>

            <form method="POST", action="{{url_for('home')}}">
                <b> Age : <input type="text" ,name="a",placeholder="enter age"> <br><br>
                Sex : <input type="text", name="b",placeholder="enter gender"> <br><br>
                Cp : <input type="text", name="c", placeholder="enter chest pain type"> <br><br>
                Chol : <input type="text" , name="e" , placeholder="enter cholesterol level"> <br><br>
                Thalach : <input type="text" , name="h" , placeholder="enter Thalac"> <br><br>
                Exang : <input type="text" , name="i" , placeholder="enter Exang"> <br><br>
                Oldpeak : <input type="text" , name="j" , placeholder="enter Oldpeak"> <br><br>
                Slope : <input type="text" , name="k" , placeholder="enter Slope"> <br><br>
                Ca : <input type="text" , name="l" , placeholder="enter Ca"> <br><br>
                Thal : <input type="text" , name="m" , placeholder="enter Thal"> <br><br><br></b>
                <input type="submit" , value="predict!">


            </form>

            <img src="C:\Sembreak_FYP\Deployment\static\image1.jpg" alt="heart">
        </center>
            

    </body>
</html>